@media only screen and (max-width: 576px) and (min-width: 280px) {
  /* index html */

  /* Hero */
  #carouselExampleIndicators .carousel-inner .carousel-item .fit-height{
    height: 200px;
  }
  /* produk */
  .card-body{
    padding: 6px 12px;
  }
  .card .card-body .card-price{
    font-size: 14px !important;
  }
  .card .card-body .card-diskon .price{
    font-size: 10px !important;
  }
  #musim-ikan .row .card-body .card-diskon .price{
    font-size: 12px;
  }
  .menu a span.fs-6{
    font-size: 13px !important;
  }
  .menu a span.fs-5{
    font-size: 1.2rem !important;
  }

  /* Produk Page */
  #root .row img.img-responsive-md{
    max-height: 200px;
  }
  #root .row .detail .button span{
    font-size: 12px !important;
  }

  /* Pesanan Page */
  #root .keranjang-belanja .produk .row .fs-5{
    font-size: 14px !important;
  }
  #root .keranjang-belanja .produk .row .fs-6{
    font-size: 14px !important;
  }

  /* Keranjang Belanja */
  #cart .keranjang-belanja .row .fs-3{
    /* max-height: 100px; */
    font-size: 1.25rem !important;
  }
  .row .fs-5{
    /* max-height: 100px; */
    font-size: 1rem !important;
  }
  .row .fs-6{
    /* max-height: 100px; */
    font-size: 0.8rem !important;
  }

  /* Header */
  .span{
    font-size: 14px !important;
  }
  .badge{
    font-size: 12px !important;
  }
}
