body{
  font-family: 'Montserrat', sans-serif !important;
}
/* Carousel */
#carouselExampleIndicators{
  max-height: 400px;
}
.shadow{
  box-shadow: 0 4px 8px rgba(0,0,0,.1)!important;
}
#carouselExampleIndicators .carousel-inner .carousel-item .fit-height{
  height: 300px;
  object-fit: cover;
}
/* Card Produk */
.card{
  cursor: pointer;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);
}
/* Card Img */
.card img.card-img-top{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* Badge */
.card .badge{
  top: 12px;
  right: 12px;
  font-size: 14px;
  font-weight: bold;
}
/* Diskon text*/
.card .card-body .card-diskon .price{
  /* font-style: oblique; */
  text-decoration: line-through;
  font-size: 12px;
  font-weight: normal;
}
.card .card-body .card-diskon .diskon{
  color: #C1292E;
  padding: 2px 4px;
  background-color: #F44E3F;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;

}
.card .card-body .card-price{
  font-weight: 500;
}
/* Star icon */
.fa-star{
  color: #F5E663;
}
.card .card-body .card-star .ulasan{
  color: #c7c2ce;
}

/* Produk Page */
.review .circle{
  margin: 0 4px;
}

.price-div .harga-diskon .price{
  text-decoration: line-through;
  font-size: 14px;
  font-weight: normal;
}
.price-div .harga-diskon .diskon{
  color: #C1292E;
  padding: 2px 4px;
  background-color: #F44E3F;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}
/* Badge Footer */

footer .badge{
  right: 10px;
  font-size: 12px;
}

/* Keranjang Belanja */
.he-60{
  max-height: 60px;
}
.mb-90{
  margin-bottom: 90px;
}
.keranjang-belanja {
  min-height: 300px;
}

/* Keranjang Belanja */
#cart .keranjang-belanja .row img.img-fluid{
  max-height: 100px;
}


/* Nav footer */
.menu a span.fs-6{
  font-weight: 500 !important;
}

/* Pesanan Page */
#root .keranjang-belanja .pesanan .row img.img-fluid{
  max-height: 100px;
}

/* Daftar Page */

#root .row form .sdk p{
  /* max-height: 100px; */
  font-size: 14px !important;
}

/* Form */
._form svg {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

._form.success svg.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}
._form.error svg.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
._form.success input {
	border-color: #2ecc71;
}

._form.error input {
	border-color: #e74c3c;
}

/* Produk Page md Screen */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  #root .row img.img-responsive-md{
    max-height: 300px;
  }
  #root .row .fs-5{
    font-size: 16px !important;
  }
  #root .row .fs-6{
    font-size: 14px !important;
  }
  /* page Keranjang Belanja */
  .header-keranjang h2{
    font-size: 1.4rem !important;
  }
  .header-keranjang h4{
    font-size: 1.2rem !important;
  }
  .subtotal h2{
    font-size: 1.4rem !important;
  }
  .pesan{
    font-size: 14px !important;
  }
  /* Home Caraousel */
  #carouselExampleIndicators .carousel-inner .carousel-item .fit-height{
    height: 200px;
    object-fit: cover;
  }
  /* Home alert modal */
  .alert{
    padding: 0.8rem 0.8rem !important;
  }
  /* Page Pesanan */
  #root .keranjang-belanja .pesanan .fs-5{
    font-size: 1.25rem !important;
  }
  #root .keranjang-belanja .pesanan .fs-6{
    font-size: 1.25rem !important;
  }
  /* Footer Badge */
  footer .badge{
    right: 6px;
    font-size: 12px;
  }
}