<IfModule mod_rewrite.c>

RewriteEngine on

RewriteRule ^home$ index.php?page=home [L]
RewriteRule ^produk-([0-9]+)$ index.php?page=produk&id=$1 [L]
RewriteRule ^keranjang$ index.php?page=keranjang [L]
RewriteRule ^beli$ index.php?page=keranjang&act=tambahqty [L]
RewriteRule ^hapuskeranjang-([0-9]+)$ index.php?page=keranjang&act=hapus&id=$1 [L]
RewriteRule ^tambahkeranjang$ index.php?page=tambahkeranjang [L]
RewriteRule ^kurangkeranjang-([0-9]+)$ index.php?page=keranjang&act=kurang&id=$1 [L]
RewriteRule ^pesanan$ index.php?page=pesanan [L]
RewriteRule ^akun$ index.php?page=akun [L]
RewriteRule ^login$ page/login.php [L]
RewriteRule ^logout$ page/logout.php [L]
RewriteRule ^daftar$ page/daftar.php [L]
RewriteRule ^checkout$ page/detail-pemesanan.php [L]
RewriteRule ^detail$ page/detail-pemesanan.php [L]

RewriteRule ^/?([A-Za-z0-9_-]+)/?$ index.php?page=$1 [L]


</IfModule>
